@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@300&display=swap");
:root {
  --main: #212121;
  --main-light:#2b2a2a;
  --accent: #bdbdbd;
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-dark-grey: #666666;
  --primary-grey: #ccd1d9;
  --primary-black: #000000;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
  --primary-transparent-black: rgba(0, 0, 0, 0.7);
  --primary-green: rgb(0, 175, 0);
}

body {
  /* font-family:  'Roboto Slab', serif !important; */
  background-color: var(--main) !important;
  color: var(--accent) !important;
}

/* 292828 */

/************** Nabar ******************/
.brand {
  width: 4.65rem;
}

.navbar {
  background-color: var(--main);
}

/************** Navbar Links ******************/
nav {
  font-family: "Poppins", sans-serif !important;
}

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--accent) !important;
  border-top: 0.1rem solid var(--main);
  transition: all, ease-in, 0.23s;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4.8rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1rem solid var(--accent);
}

.navbar-nav > li > a:hover {
  border-top: 0.1rem solid var(--accent);
}

/************** Header ******************/

@-webkit-keyframes openTopLine {
  0% {
    width: 0;
    transform: translateY(5em);
  }
  50% {
    width: 27em;
    transform: translateY(5em);
  }
  100% {
    width: 27em;
    transform: translateY(0);
  }
}

@keyframes openTopLine {
  0% {
    width: 0;
    transform: translateY(5em);
  }
  50% {
    width: 27em;
    transform: translateY(5em);
  }
  100% {
    width: 27em;
    transform: translateY(0);
  }
}
@-webkit-keyframes openBottomLine {
  0% {
    width: 0;
    transform: translateY(-5em);
  }
  50% {
    width: 27em;
    transform: translateY(-5em);
  }
  100% {
    width: 27em;
    transform: translateY(0);
  }
}
@keyframes openBottomLine {
  0% {
    width: 0;
    transform: translateY(-5em);
  }
  50% {
    width: 27em;
    transform: translateY(-5em);
  }
  100% {
    width: 27em;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideContent {
  0%,
  30% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideContent {
  0%,
  30% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header-wrapper {
  position: relative;
  height: 85vh;
}

/* .main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */



.logo {
  font-size: 1.1em;
  font-family: "Roboto Slab";
  text-align: center;
  color: var(--accent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.logo .line {
  height: 1px;
  background: var(--accent);
  display: inline-block;
  width: 27em;
}
.logo .line.topLine {
  -webkit-animation: openTopLine 1.5s;
  animation: openTopLine 1.5s;
}
.logo .line.bottomLine {
  -webkit-animation: openBottomLine 1.5s;
  animation: openBottomLine 1.5s;
}
.logo .content {
  -webkit-animation: slideContent 1s;
  animation: slideContent 1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}
.logo .content .vintage {
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px var(--main), 2px 2px 0px var(--accent);
  letter-spacing: 4px;
}
.logo .content .since {
  font-weight: 100;
  margin: 0.25em auto 0.5em;
}
.logo .content .desc {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
}
.logo .content .skillz {
  font-size: 1.2em;
  margin-top: 0.25em;
  font-weight: 400;
  letter-spacing: 1px;
}
.logo .content .links a {
  display: inline-block;
  color: var(--accent);
  font-size: 1.25em;
  margin: 0.25em 0.2em 0;
  transition: color 0.1s;
  cursor: pointer;
  transition: color 0.15s;
  -webkit-animation: slideContent 1s;
  animation: slideContent 1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.logo .content .links a:nth-of-type(1n) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.logo .content .links a:nth-of-type(2n) {
  -webkit-animation-delay: 2.25s;
  animation-delay: 2.25s;
}
.logo .content .links a:nth-of-type(3n) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.logo .content .links a:nth-of-type(4n) {
  -webkit-animation-delay: 2.75s;
  animation-delay: 2.75s;
}
.logo .content .links a:nth-of-type(5n) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.logo .content .links a:hover {
  color: var(--primary-white);
}

/************** Media header ******************/

@media (max-width: 520px) {


.logo .line {
  height: 1px;
  background: var(--accent);
  display: inline-block;
  max-width: 19em
}
}
@media (max-width: 377px) {
.logo .line {
  height: 1px;
  background: var(--accent);
  display: inline-block;
  width: 18em !important
}
}
@media (max-width: 322px) {
.logo .line {
  height: 1px;
  background: var(--accent);
  display: inline-block;
  width: 16em !important
}
}

/************** About ******************/

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 20rem;
  border-radius: 50%;
  padding: 0.3rem;
  /* border: 1px solid; */
}

.about-heading {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif !important;
}
.about-heading-span {
  text-transform: uppercase;
  color: rgb(44, 44, 44);
}

@media (max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

/******* Portfolio (projects) ****************/

/* .content {
  display: flex;
  flex-direction: column;
} */

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5vw;
  font-family: "Poppins", sans-serif !important;
  /* border: 1px solid red; */
  transitions: all 250ms ease-in-out;
}

/* .project:nth-child(2) {
  background: #f7f7f7;
} */

.project:hover .image-wrap {
  transform: skew(-10deg) translate(-10px, -10px);
  box-shadow: 10px 30px 60px 0 rgba(0, 0, 0, 0.25);
}

.project:hover .shadow {
  transform: skew(-10deg) translate(5px, 5px);
}

.project:first-child p,
.project:first-child h3,
.project:nth-child(3) p,
.project:nth-child(3) h3 {
  /*  color: fff;*/
}

.project:nth-child(3) {
  /*background: 2EA5D9;*/
}

.project:first-child .shadow {
  border-color: var(--accent);
  /* 3c3183; */
}

.project:nth-child(2) .shadow {
  border-color: var(--accent);

  /* 539aff; */
}

.project:nth-child(3) .shadow {
  border-color: var(--accent);
  /* 061a44; */
}
.project:nth-child(4) .shadow {
  border-color: var(--accent);

  /* 38b2ac; */
}

.project h3 {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 900;
}

.project p {
  font-size: 1.25rem;
  font-weight: 400;
  opacity: 0.85;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

button {
  padding: 15px 25px;
  color: #fff;
  background: #333;
  border-radius: 4px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  margin-top: 0;
}

button:hover {
  cursor: pointer;
}

.image-container {
  position: relative;
  margin-right: 10vw;
  cursor: pointer;
}

.image-wrap {
  height: 300px;
  width: 200px;
  border-radius: 20px 5px;
  box-shadow: 5px 20px 40px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
  z-index: 10;
  transform: skew(-10deg);
  transition: all 250ms ease-in-out;
}

.image {
  background-color: #fff;
  background: url("./aei2.PNG");
  background-size: 50%;
  background-repeat: no-repeat;
  position: absolute;
  width: 200%;
  height: 200%;
  overflow: hidden;
}

.image.two {
  background: url("./eShop.PNG");
  background-size: 50%;
}

.image.three {
  background: url("./CryptoConsole.PNG");
  background-size: 50%;
}
.image.four {
  background: url("./RepoFinder.PNG");
  background-size: 50%;
}

.shadow {
  position: absolute;
  top: 25px;
  right: -25px;
  border-radius: 20px 5px;
  width: 100%;
  height: 100%;
  border: 3px solid;
  z-index: 1;
  transform: skew(-10deg);
  transition: all 250ms ease-in-out;
}

.project.right .image-container {
  margin: 0 0 0 10vw;
}

.header h1 {
  font-size: 2rem;
  margin: 0;
}

.header p {
  font-size: 1rem;
  margin: 0;
}

.header {
  margin-bottom: 10vh;
  text-align: center;
}

@media (max-width: 910px) {
  .project:hover .image-wrap {
    transform: skew(0deg) translate(-10px, -10px);
    box-shadow: 10px 30px 60px 0 rgba(0, 0, 0, 0.25);
  }

  .project:hover .shadow {
    transform: skew(0deg) translate(5px, 5px);
  }
  .image-wrap {
    height: 300px;
    width: 200px;
    border-radius: 20px 5px;
    box-shadow: 5px 20px 40px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
    z-index: 10;
    transform: skew(0deg);
    transition: all 250ms ease-in-out;
  }
  .shadow {
    position: absolute;
    top: 25px;
    right: -25px;
    border-radius: 20px 5px;
    width: 100%;
    height: 100%;
    border: 3px solid;
    z-index: 1;
    transform: skew(0deg);
    transition: all 250ms ease-in-out;
  }
}

@media (max-width: 510px) {
  .shadow {
    display: none;
  }
}

@media (max-width: 464px) {
  .project:hover .image-wrap {
    transform: skew(0deg);
    box-shadow: 10px 30px 60px 0 rgba(0, 0, 0, 0.25);
  }

  .project:hover .shadow {
    transform: skew(0deg);
  }

  .shadow {
    display: none;
    border-radius: 0;
  }

  .project .text-container h3,
  .project .text-container p,
  .project .text-container button {
    display: none;
  }

  .image-wrap {
    border-radius: 0;
  }
  .image-container {
    margin: 0 !important;
  }
}

/******* Experience ****************/

.experience {
  padding: 0.7rem;
   font-family: "Poppins", sans-serif !important;
}

.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
}

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-grey);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark-grey);
  background: var(--primary-light-grey);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--accent);
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  font-weight: 900;
}

/*------------ Media ------------------*/
@media (max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }

  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}

/*------------ Additional Projects ------------------*/

.portfolio-wrapper {
  padding: 3rem 0;
   font-family: "Poppins", sans-serif !important;
}

.portfolio-image {
  position: relative;
  width: 15rem;
  border: 1px solid var(--accent);
  padding: 0 0.5rem;
}

.portfolio-image::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.portfolio-image-box {
  position: relative;
  margin: 1rem;
}

/*------------ Overflow box ------------------*/
.overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 15rem;
  height: 8rem;
  top: 0;

  border: 1px solid var(--primary-dark-grey);
  cursor: pointer;
}

.portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

/*------------ Search icon (magnifier) ------------------*/

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/*------------ Popup box ------------------*/
.portfolio-image-popupbox {
  width: 45rem;
  padding: 0 0.5rem;
}

.hyper-link {
  cursor: pointer;
}

.portfolio-content-popupbox {
  color: var(--primary-black) !important;
}

/*------------ Popup Media ------------------*/
@media (max-width: 768px) {
  .portfolio-image-popupbox {
    width: 100%;
  }
}
@media (max-height: 570px) {
  .popupbox-wrapper {
    height: 100%;
  }

  .portfolio-image-popupbox {
    width: 50%;
  }
}
@media (max-height: 280px) {
  .popupbox-wrapper {
    height: 90%;
  }

  .portfolio-image-popupbox {
    width: 30%;
  }
}

/************************ Contacts *********************************/
.contacts {
  /* background: var(--primary-dark); */
  padding: 3rem 0;
   font-family: "Poppins", sans-serif !important;
}

.contacts h1 {
  /* color: var(--primary-orange); */
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contacts p {
  /* color: var(--primary-light-grey); */
  font-size: 1.2rem;
}

/*------------------ Contacts inputs -------------------------------*/
.contacts input,
.contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-light-grey);
  border-radius: 0;
  color: var(--primary-light-grey);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus,
.contacts textarea:focus {
  background: transparent;
  /* color: var(--primary-orange); */
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
  border: 1px solid var(--primary-white);
  transition: .2s ease-in-out;
}
.contact-btn:hover {
background-color: var(--main-light) !important
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-white);
  display: inline-block;
}

input:focus + .line,
textarea:focus + .line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: var(--primary-white);
  background: var(--primary-hover-red);
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: var(--primary-green);
}

/*---------------- Contacts media -----------------------*/
@media (max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }

  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
}

/************************ Footer ********************************/
.footer {
 font-family: "Poppins", sans-serif !important;
  padding: 3rem;

}

.footer a {
  text-decoration: none;
  color: var(--primary-dark-grey);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-white);
  cursor:pointer;
}

.footer p {
  margin-bottom: 0;
}

/* * {
   background: #000 !important;
   color: #0f0 !important;
   outline: solid #f00 1px !important;
 } */
